<div>
  <div class="column is-one-thirds px-6">

      <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
          <div class="tile is-child notification">
            <h1 class="mt-2">
              <strong><i class="fa fa-diamond fa-lg "></i>ギフト登録</strong></h1><br>

              <%= form_with model: present_list, url: present_lists_path, method: :post do |f| %>

                <%= f.date_field :date %><br>

              <div class="fields-label">
                <label><%= f.radio_button :category, PresentList.categories.key(0) %></label>
                <label><%= f.label :category, PresentList.categories_i18n[:give] %></label>

                <label><%= f.radio_button :category, PresentList.categories.key(1) %></label>
                <label><%= f.label :category, PresentList.categories_i18n[:have] %></label>
              </div>
                <br><br>
                <%= f.radio_button :friend_number, 1 %>
                <%= f.label :friend_number_1, "おともだちリストから選択" %>

                <%= f.select :friend_id, options_from_collection_for_select(Friend.all, :id, :name) %><br><br>

                <%= f.radio_button :friend_number, 2 %>
                <%= f.label :friend_number_2, "おともだちリストに追加" %><br>

                <%= text_field_tag 'friend[name]', '',:placeholder => "なまえ", class: "input" %><br>

                <i class="fa fa-birthday-cake fa-lg "></i>
                <%= f.date_select :birthdate, use_month_numbers: true,start_year: 1940, end_year: (Time.now.year - 10), default: Date.new(2000, 1, 1) %><br>
                <br>


                <%= f.text_field :item, :placeholder => "アイテム", class: "input" %><br>
                <br>
                <%= f.text_field :scene, :placeholder => "シーン", class: "input" %><br>
                <br>
                <%= f.submit '保存', class: "button is-black" %>
              <% end %>
        </div>
      </div>
    </div>

    <% if present_list&.errors&.any? %>
      <div class="error">
      <h5><%= present_list.errors.count %>件のエラーが発生しました</h5>
      <ul>
        <% present_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
  </div>
</div>