<div class="columns">
  <div class="column is-3">
    <h2>NEWギフト</h2>
    <%= form_with model: @present_list, url: present_lists_path, method: :post do |f| %>
      <div>
        <h4>日付</h4>
        <%= f.date_field :date %>
      </div><br>

      <div>
      <h4>誰に</h4>
        <%= f.radio_button :friend_number, 1 %>
        <%= f.label :friend_number_1, "おつきあいリストから選択" %>

        <%= f.select :friend_id, options_from_collection_for_select(Friend.all, :id, :name) %><br><br>

        <%= f.radio_button :friend_number, 2 %>
        <%= f.label :friend_number_2, "おつきあいリストに追加" %><br>

        <%= f.label :name, "おなまえ" %>
        <%= text_field_tag 'friend[name]', '',:placeholder => "おなまえ" %><br>

        <%= f.label :birthdate, "おたんじょうび" %>
        <%= f.date_select :birthdate %>
      </div><br>


      <h4>アイテム</h4>
      <%= f.text_field :item %><br>

      <h4>理由</h4>
      <%= f.text_field :scene %>

      <%= f.submit '保存' %>
    <% end %>
  </div>


  <div class="column is-9">

    <%= render 'public/present_lists/index', present_lists: @present_lists %>

  </div>
</div>