<div class="columns pt-6 is-centered">
  <p>=============================================================</p>
</div>
<div class="columns is-centered">
  <p1>Recommend Gifts</p1>
</div>
<div class="columns is-centered">
  <p>=============================================================</p>
</div>

<div class="columns is-centered">
  <div>
    <div class="column is-one-thirds px-6">
      <%= link_to recommend_gifts_path(status: 'eye') do %>
        <%= image_tag asset_path('106472s.eye.jpeg'), size: "120x120" %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="column is-one-thirds px-6">
      <%= link_to recommend_gifts_path(status: 'lip') do %>
        <%= image_tag asset_path('lip.2.jpeg'), size: "120x120" %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="column is-one-thirds px-6">
      <%= link_to recommend_gifts_path(status: 'nail') do %>
        <%= image_tag asset_path('nail.1.jpeg'), size: "120x120" %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="column is-one-thirds px-6">
      <%= link_to recommend_gifts_path(status: 'body') do %>
        <%= image_tag asset_path('162207s.body.jpeg'), size: "120x120" %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="column is-one-thirds px-6">
      <%= link_to recommend_gifts_path(status: 'hair') do %>
        <%= image_tag asset_path('hair.jpeg'), size: "120x120" %>
      <% end %>
    </div>
  </div>
</div>