<div class="columns">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a><%= link_to "EYE", recommend_gifts_path(status: 'eye') %></a></li>
      <li><a><%= link_to "LIP", recommend_gifts_path(status: 'lip') %></a></li>
      <li><a><%= link_to "NAIL", recommend_gifts_path(status: 'nail') %></a></li>
      <li><a><%= link_to "BODY", recommend_gifts_path(status: 'body') %></a></li>
      <li><a><%= link_to "HAIR", recommend_gifts_path(status: 'hair') %></a></li>
    </ul>
  </div>
  <!--<div id='center' class="main center">-->
  <!--  <div class="mainInner">-->
  <!--    <div>~Recommend Gifts~</div>-->
  <!--  </div>-->
  <!--</div>-->
</div>

<% i = 1 %>
<div class="columns is-centered">
  <div class="column is-half">
    <!--<h1><strong>~Recommend Gifts~</strong></h1>-->
    <!--<table class="table">-->
      <% @items.each do |item| %>
        <div class="tile is-ancestor is-parent">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child notification">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <!--<td>-->
                  <!--  <button id="button" onclick="setlocalStorage()">保存</button>-->
                  <!--</td>-->
                  <td><%= i %></td><% i += 1 %>
                  <td><img src="<%= item['mediumImageUrls'][0] %>"></td>
                  <td><a href="<%= item['itemUrl'] %>" target="_blank"><%= item['itemName'] %></a></td>
                  <td><%= item['itemPrice'] %>円</td>
                  <!--<td><%#= item['genreId'] %></td>-->
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      <% end %>
    <!--</table>-->
  </div>
</div>

