<div class="columns pt-6 is-centered">
  <% if user_signed_in? %>
    <div class="pl-3">
      <%= link_to user_path(current_user), class:"link" do %>
        <i class="fa fa-smile-o fa-5x"></i><br>
        <span>マイページ</span>
      <% end %>
    </div>

    <div class="pl-6"></div>

    <div class="pl-6">
      <%= link_to destroy_user_session_path, method: :delete, class:"link" do %>
        <i class="fa fa-lock fa-5x"></i><br>
        <span>ログアウト</span>
      <% end %>
    </div>
  <% else %>
    <div class="pl-3">
      <%= link_to new_user_registration_path, class:"link" do %>
        <i class="fa fa-user fa-5x"></i><br>
        <span>新規登録</span>
      <% end %>
    </div>

    <div class="pl-6">
      <%= link_to new_user_session_path, class:"link" do %>
        <i class="fa fa-unlock-alt fa-5x"></i><br>
        <span>ログイン</span>
      <% end %>
    </div>

    <div class="pl-6">
      <%= link_to users_guest_sign_in_path, method: :post, class:"link" do %>
        <i class="fa fa-user-secret fa-5x"></i><br>
        <span>  ゲスト用</span>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'public/recommend_gifts/top' %>
