<div class="columns">
  <div class="column is-3">
    <!--<form class="box">-->
      <h2>おつきあいリスト登録</h2>
      <%= form_with model: @name_list, url: "/present_lists?name_list_id${name_list.id}", method: :post do |f| %>
        <!--<div class="field">-->
        <!--  <label class="label">お名前</label>-->
        <h4>お名前</h4>
        <%= f.text_field :name %>
        <!--    <p class="control has-icons-left">-->
        <!--      <input class="input" type="name" placeholder="Name">-->
        <!--      <span class="icon is-small is-left">-->
        <!--        <i class="fa-thin fa-user-pen"></i>-->
        <!--      </span>-->
        <!--    </p>-->
        <!--</div>-->
        <!--<div class="field">-->
        <!--  <label class="label">関係性</label>-->
        <!--    <p class="control has-icons-left">-->
        <!--      <span class="select">-->
        <!--        <select>-->
        <!--          <option selected>友達</option>-->
        <!--          <option>家族</option>-->
        <!--          <option>先輩</option>-->
        <!--          <option>ママ友</option>-->
        <!--        </select>-->
        <!--      </span>-->
        <!--      <span class="icon is-small is-left">-->
        <!--        <i class="fa-thin fa-people-arrows-left-right"></i>-->
        <!--      </span>-->
        <!--    </p>-->
        <!--</div>-->
        <%= f.submit '登録' %>
      <% end %>
        <!--<div class="field is-grouped">-->
        <!--  <div class="control">-->
        <!--    <button class="button is-link">登録</button>-->
        <!--  </div>-->
        <!--</div>-->
      <%# end %>
    <!--</form>-->
  </div>
  <div class="column is-9">
    <h2>おつきあいリスト</h2>
      <% @name_lists.each do |name_list| %>
        <p>お名前</p>
        <span><%= name_list.name %></span>
        <%= link_to "ギフト", present_lists_path(name_list.id) %>
      <% end %>
  </div>
</div>

    <!--User.name_lists.each do |name_list|-->
    <!--  url = "localhost:3000/present_lists?name_list_id${name_list.id}"-->
    <!--  # url === localhost:3000/present_lists?name_list_id=1-->

    <!--end-->