<% friends.each do |friend| %>
<table width="660" class="table table-bordered">
  <tbody>
    <tr>
      <th><%= image_tag friend.get_image,size:"50x50" %></th>
      <th width="180"><i class="fa fa-child "> <%= friend.name %></i></th>
      <th width="200"><i class="fa fa-birthday-cake"> <%= friend.birthdate %></i></th>
      <th></th>


      <th>
        <%= link_to edit_friend_path(friend), class: "button is-success is-inverted" do %>
          <i class="fa fa-pencil-square-o fa-lg"></i>
        <% end %>
      </th>
      <th>
        <%= link_to friend_path(friend), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "button is-danger is-inverted" do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>
<% end %>
<%#= paginate friends %>

