
<div class="columns">
  <div class="column is-3">

      <h2>[Friends登録]</h2>
      <% if @friend.errors.any? %>
        <%= @friend.errors.count %>件のエラーが発生しました
        <ul>
          <% @friend.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>


      <%= form_with model: @friend, url: friends_path, method: :post do |f| %>

        <h4>お名前</h4>
        <%= f.text_field :name %>

        <h4>誕生日</h4>
        <%= f.date_select :birthdate, use_month_numbers: true,start_year: 1940, end_year: (Time.now.year - 10), default: Date.new(2000, 1, 1) %>

        <%= f.submit '登録' %>
      <% end %>

  </div>


  <div class="column is-9">

    <%= render 'public/friends/index', friends: @friends %>

  </div>
</div>

    <!--User.name_lists.each do |name_list|-->
    <!--  url = "localhost:3000/present_lists?name_list_id${name_list.id}"-->
    <!--  # url === localhost:3000/present_lists?name_list_id=1-->

    <!--end-->