<div class="columns is-centered">
  <div class="column is-half">
    <!--<h1 class="mt-2">-->
    <!--  <strong>マイページ</strong></h1>-->

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>NAME</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>BIRTHDAY</td>
          <td><%= @user.birthdate %></td>
        </tr>
        <tr>
          <td>EMAIL ADDRESS</td>
          <td><%= @user.email %></td>
        </tr>
     </tbody>
    </table>
  </div>

  <div class="columns">

  </div>
</div>

        <div>
          <%= link_to "Friends", friends_path %>
        </div>
        <div>
          <%= link_to "Presents", present_lists_path %>
        </div>