<div class="columns">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a><%= link_to "おともだちリスト", friends_path %></a></li>
      <li><a><%= link_to "ギフトリスト", present_lists_path %></a></li>
    </ul>
  </div>
</div>


<div class="columns pt-6 is-centered">
  <table width="500" class="table table-bordered">
    <tbody>
      <tr>
        <td><strong>MY NAME</strong></td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td><strong>MY BIRTHDAY</strong></td>
        <td><%= @user.birthdate %></td>
      </tr>
      <tr>
        <td><strong>MY EMAIL ADDRESS</strong></td>
        <td><%= @user.email %></td>
      </tr>
   </tbody>
  </table>
    <% if @user.name != "guestuser" %>
    <div class="columns px-6 pt-6">
      <%= link_to  edit_user_path, class: "button is-outlined" do %>
        <i class="fa fa-pencil fa-2x"></i>
      <% end %>
    </div>
    <% end %>
</div>

<%= render 'public/recommend_gifts/top' %>


